*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Deixa os conteudos no centro da tela*/
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
	padding: 0px 15px;
	padding-top, padding-bottom:10px ;

}

.princiapl{
	widows: 400px;
	height: 200px;
	background: #6d4bfc;
}